body{ 
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
        
#maincontent
{
    max-width:42em;
    margin:15 auto;
        
}

h1 {
    font-size: 3em;
    color:rgb(114, 119, 117);
    font-weight: 500;
}

h3 {
    font-size: 1.3em;
}
